<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="formule">Formula</label>
            <input type="text" id="formule" class="form-control" ng-model="formule">
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">X0</label>
                    <input type="text" class="form-control" ng-model="x0">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">X1</label>
                    <input type="text" class="form-control" ng-model="x1">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">X1</label>
                    <input type="text" class="form-control" ng-model="x2">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Max. Iteraciones</label>
                    <input type="text" class="form-control" ng-model="maxIter">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Tolerancia</label>
                    <input type="text" class="form-control" ng-model="tolerancia">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-info" ng-click="calculate()" style="width: 100%;">Calcular</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-success" ng-click="plot()" style="width: 100%;">Gráficar</button>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>X0</th>
                    <th>X1</th>
                    <th>X2</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="result in results">
                    <td>{{result.x0}}</td>
                    <td>{{result.x1}}</td>
                    <td>{{result.x2}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>