<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="formule">Formula</label>
            <input type="text" id="formule" class="form-control" ng-model="formule">
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Punto A</label>
                    <input type="text" class="form-control" ng-model="pointA">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Punto B</label>
                    <input type="text" class="form-control" ng-model="pointB">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Max. Iteraciones</label>
                    <input type="text" class="form-control" ng-model="maxIter">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Tolerancia</label>
                    <input type="text" class="form-control" ng-model="tolerancia">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-info" ng-click="calculate()" style="width: 100%;">Calcular</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-success" ng-click="plot()" style="width: 100%;">Gráficar</button>
            </div>
        </div>


    </div>

    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Index</th>
                    <th>a</th>
                    <th>b</th>
                    <th>PM</th>
                    <th>f(a)</th>
                    <th>f(b)</th>
                    <th>f(PM)</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="result in results">
                    <td>{{$index+1}}</td>
                    <td>{{result.a}}</td>
                    <td>{{result.b}}</td>
                    <td>{{result.p}}</td>
                    <td>{{result.fa}}</td>
                    <td>{{result.fb}}</td>
                    <td>{{result.fp}}</td>
                </tr>
                </tbody>

            </table>

        </div>

    </div>
</div>